<nav class="sidebar" id="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a asp-controller="Home" asp-action="Index" class="active" data-section="home">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>

        </li>
        <li>
            <a asp-controller="Invitation" asp-action="Index">
                <i class="fas fa-envelope"></i>
                <span>Invitation</span>
            </a>

        </li>
        <li>
            <a href="#" onclick="showSection('feedback')" data-section="feedback">
                <i class="fas fa-comment-dots"></i>
                <span>Feedback</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="showSection('check')" data-section="check">
                <i class="fas fa-check-circle"></i>
                <span>Check</span>
            </a>
        </li>
    </ul>
</nav>